@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Raleway:wght@300;700&display=swap');

/* 
FONT FAMILYS
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

// VARIABLES
// Colores
$violeta: #973a5e;
$violeta-degrade: linear-gradient(90deg, #220410 40%,#973a5e); 
$violeta-claro: #ad607e;
$naranja:#f69579;
$amarillo-fondo: rgb(255, 238, 224);
$blanco: #ececec;
$arena: #fac5a4;
$negro: #000000;
//Tipografías
$font-raleway: 'Raleway', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

/* IMPORTADOS */
@import "sobremi";
@import "habilidades";
@import "resenas";
@import "contacto";
@import "inicio";
@import "botones";

// Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $amarillo-fondo;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
    padding: 0;
}
// HEADER
.navbar{
    background-color: #973a5e;
    color: white;
    width: 100%;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: right;
    padding-left: 25px;
    padding-right: 25px;
    .navbar-expand-lg{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .nav-link{
        color: white;
        text-decoration: none;
        padding: 10px 5px 0px 5px;
        display: inline-block;
        position: relative;
        margin: 5px;
    }
    .nav-link:after{
        content: "";
        position: absolute;
        background-color: $blanco;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: all 0.3s;
    }
    .nav-link:hover{
        color: $blanco;
    }
    .nav-link:hover:after{
        width: 100%;
    }
}

/* Este formato aplica para todos los títulos de los banner principales de cada página */
.tituloDePagina{
    margin: 0px 20px 70px 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    h1{
        color: $naranja;
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5em;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.5;
        margin-top: 70px;
        filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
    }
    h3{
        color: $violeta-claro;
        font-family: $font-raleway;
        font-weight: normal;
        font-size: 1.5em;
        text-align: left;
        line-height: 1.5;
        filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
    }
}

@media only screen and (max-width:500px){
    .tituloDePagina h1{
        font-size: 1.3em;
    }
    .tituloDePagina h3{
        font-size: 1.1;
    }
 }

 @media only screen and (max-width:320px){
    .tituloDePagina h1{
        font-size: 1.1em;
    }
    .tituloDePagina h3{
        font-size: 1;
    }
}

// FOOTER
.footer { 
    background-image: $violeta-degrade;
    color: $blanco;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3em;
    padding: 10px;
    h4{
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.3em;
        text-align: left;
        line-height: 1.5;
        padding: 10px 0px 10px 0px;
    }
    .miniBiografia{
        padding: 1em;
        p{
            font-family: $font-raleway;
            font-style: normal;
            font-weight: 200;
            font-size: 1em;
            text-align: left;
            line-height: 1.5;
        }   
        h3{
            font-family: $font-raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 1em;
            text-align: left;
            line-height: 1.5;
        }
    }

    .nuestrasOficinas{
        padding: 1em;
        overflow: hidden;
    }

    .seguime{
        padding: 1em;
        img{
            padding-right: 20px;
            transition: ease-in .2s;
        }
        img:hover{
            transform: scale(1.08);
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24)
        }
    }
}
.copyright{
    background-color: $violeta-claro;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    h3{
        color: $blanco;
        font-family: $font-raleway;
        font-size: 0.8em;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}