@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Raleway:wght@300;700&display=swap");
/* 
FONT FAMILYS
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
/* IMPORTADOS */
.bannerSobreMi {
  background-image: url(../imagenes/portadas/portada-nosotros.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 500px;
}

.trayectoria {
  margin-bottom: 70px;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.trayectoria .trayectoria__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  display: inline-block;
}
.trayectoria .trayectoria__p {
  color: #000000;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
}
.trayectoria .trayectoria__quoteTrayectoria {
  border: 3px solid #f69579;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  color: #f69579;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5;
}

.miMision {
  margin-bottom: 100px;
  padding: 20px;
  background-color: #f69579;
}
.miMision .miMision__miMisionContenido {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.miMision .miMision__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  margin-top: 70px;
}
.miMision .miMision__img {
  margin-bottom: 70px;
}
.miMision .miMisionTexto__p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 70px;
}

/* Mandamientos */
.mandamientos {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mandamientos .alineacionCarrusel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mandamientos .mandamientos__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}
.mandamientos .mandamientos__mandamiento1 {
  display: inline-block;
  margin-bottom: 50px;
  border: 3px #973a5e solid;
  padding: 15px;
  width: 80%;
  margin: 10px;
}
.mandamientos .mandamientos__mandamiento1 .mandamientos__p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 15px;
}
.mandamientos .carousel-item {
  text-align: center;
}
.mandamientos .carousel-indicators li {
  background-color: #f69579;
  border-radius: 20px;
  height: 5px;
}
.mandamientos .carousel-control-next {
  margin-left: 50px;
}
.mandamientos .carousel-control-prev {
  margin-right: 50px;
}

.bannerHabilidades {
  background-image: url(../imagenes/portadas/portada-servicios.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 500px;
}

.presentacionHabilidades {
  margin-top: 70px;
}
.presentacionHabilidades .presentacionHabilidades__redaccion .redaccion__img {
  background-image: url(../imagenes/habilidades/redaccion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 20px;
  margin-bottom: 70px;
}
.presentacionHabilidades .presentacionHabilidades__redaccion .redaccion__textoRedaccion .redaccion__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  line-height: 1.5;
}
.presentacionHabilidades .presentacionHabilidades__redaccion .redaccion__textoRedaccion .redaccion__p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.presentacionHabilidades .presentacionHabilidades__edicion .edicion__img {
  background-image: url(../imagenes/habilidades/libro-correccion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 20px;
  order: 2;
  margin-bottom: 70px;
}
.presentacionHabilidades .presentacionHabilidades__edicion .edicion__textoEdicion {
  order: 1;
}
.presentacionHabilidades .presentacionHabilidades__edicion .edicion__textoEdicion .edicion__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  line-height: 1.5;
}
.presentacionHabilidades .presentacionHabilidades__edicion .edicion__textoEdicion .edicion__p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.presentacionHabilidades .presentacionHabilidades__fotografia .fotografia__img {
  background-image: url(../imagenes/habilidades/fotografia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 70px;
}
.presentacionHabilidades .presentacionHabilidades__fotografia .fotografia__textoFotografia .fotografia__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  line-height: 1.5;
}
.presentacionHabilidades .presentacionHabilidades__fotografia .fotografia__textoFotografia .fotografia__p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.containerHerramientas {
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.herramientas {
  background-color: #f69579;
}
.herramientas .herramientas__h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}
.herramientas .herramientas__herramientaIcono .herramientas__img {
  padding-left: 30%;
  padding-right: 30%;
  transition: all ease-out 0.5s;
}
.herramientas .herramientas__herramientaIcono .herramientas__img:hover {
  transform: scale(1.1);
}
.herramientas .herramientas__herramientaIcono .herramientas__h5 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
}

@media only screen and (max-width: 500px) {
  .redaccion__h2 {
    font-size: 1.5em;
  }

  .edicion__h2 {
    font-size: 1.5em;
  }

  .fotografia__h2 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 320px) {
  .redaccion_h2 {
    font-size: 1em;
  }

  .edicion__h2 {
    font-size: 1.2em;
  }

  .fotografia__h2 {
    font-size: 1.2em;
  }
}
.bannerResenas {
  background-image: url(../imagenes/portadas/portada-novedades.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 500px;
}

.contenidoResenas .articulo1 .imagenArticulo1 {
  background-image: url(../imagenes/reseñas/cine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  min-width: 200px;
  padding-top: 0px;
}
.contenidoResenas .articulo1 .imagenArticulo2 {
  background-image: url(../imagenes/reseñas/conferencia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  min-width: 200px;
  padding-top: 0px;
}
.contenidoResenas .articulo1 .imagenArticulo3 {
  background-image: url(../imagenes/reseñas/libro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  min-width: 200px;
  padding-top: 0px;
}
.contenidoResenas .articulo1 .textoResenas h3 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  line-height: 1.5;
}
.contenidoResenas .articulo1 .textoResenas p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.top5 {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: inset -4px -4px 7px #ececec, inset 3px 3px 5px #a1a1a1;
}
.top5 .top5Contenido h3 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5;
}
.top5 .top5Contenido ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0px 15px 0px 15px;
}
.top5 .top5Contenido ol li {
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
.top5 .top5Contenido p {
  margin-bottom: 20px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.bannerContacto {
  background-image: url(../imagenes/portadas/portada-contacto.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 500px;
}

.formularioContacto fieldset {
  background-color: white;
  border-radius: 15px;
  box-shadow: -4px -4px 7px #ececec, 3px 3px 5px #a1a1a1;
}
.formularioContacto fieldset label {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.formularioContacto fieldset input {
  display: inline-block;
  background-color: white;
  border-bottom: #973a5e solid 0.2em;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
}
.formularioContacto fieldset input:focus {
  outline: none;
}
.formularioContacto fieldset .mensajeYBoton .labelMensaje {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: right;
  line-height: 1.5;
}
.formularioContacto fieldset .mensajeYBoton textarea {
  background-color: white;
  border-bottom: #973a5e;
  border-bottom-style: solid;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.formularioContacto fieldset .mensajeYBoton textarea:focus {
  outline: none;
}
.formularioContacto fieldset .mensajeYBoton .botonEnviar {
  background-color: #973a5e;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 100px;
  border-style: hidden;
  width: 8em;
  height: 2.5em;
  transition: ease-in 0.2s;
}
.formularioContacto fieldset .mensajeYBoton .botonEnviar:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  color: #ececec;
  font-weight: 600;
}

.bannerPrincipal {
  background-image: url(../imagenes/portadas/portada-andando.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 500px;
}

.andamosComunicando {
  margin-top: 100px;
}
.andamosComunicando h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.andamosComunicando p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.videoPrincipal {
  padding: 10px;
  height: 100%;
}

.trabajos {
  margin-top: 70px;
}
.trabajos h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}
.trabajos .fotosTrabajos .trabajo1 img {
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}
.trabajos .fotosTrabajos .trabajo1 img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.trabajos .trabajo1 h3 {
  color: #f69579;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 20px;
}

/* Experiencia */
.experiencia {
  margin-top: 100px;
  margin-bottom: 70px;
}
.experiencia .alineacionCarrusel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.experiencia .experienciaOpinion {
  display: inline-block;
  margin-bottom: 50px;
  border: 3px #973a5e solid;
  padding: 15px;
  width: 75%;
}
.experiencia .experienciaOpinion p {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 15px;
}
.experiencia .experienciaOpinion img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.experiencia .carousel-item {
  text-align: center;
}
.experiencia h2 {
  color: #973a5e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}
.experiencia .carousel-indicators li {
  background-color: #f69579;
  border-radius: 20px;
  height: 5px;
}
.experiencia .carousel-control-next {
  margin-left: 50px;
}
.experiencia .carousel-control-prev {
  margin-right: 50px;
}

.botonHablemos {
  background-color: #973a5e;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5;
  border-radius: 100px;
  border-style: hidden;
  transition: ease-in 0.2s;
  padding: 10px 25px 10px 25px;
}

.botonHablemos a {
  background-color: linear-gradient(90deg, #220410 40%, #973a5e);
}

.botonHablemos:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  background-color: #ad607e;
  color: #ececec;
  font-weight: 600;
}

.hablemosicon {
  padding: 3px;
}

a {
  background-color: linear-gradient(90deg, #220410 40%, #973a5e);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffeee0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #973a5e;
  color: white;
  width: 100%;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar .navbar-expand-lg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.navbar .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 5px 0px 5px;
  display: inline-block;
  position: relative;
  margin: 5px;
}
.navbar .nav-link:after {
  content: "";
  position: absolute;
  background-color: #ececec;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}
.navbar .nav-link:hover {
  color: #ececec;
}
.navbar .nav-link:hover:after {
  width: 100%;
}

/* Este formato aplica para todos los títulos de los banner principales de cada página */
.tituloDePagina {
  margin: 0px 20px 70px 20px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}
.tituloDePagina h1 {
  color: #f69579;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 70px;
  filter: drop-shadow(5px 5px 10px white);
}
.tituloDePagina h3 {
  color: #ad607e;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.5;
  filter: drop-shadow(5px 5px 10px white);
}

@media only screen and (max-width: 500px) {
  .tituloDePagina h1 {
    font-size: 1.3em;
  }

  .tituloDePagina h3 {
    font-size: 1.1;
  }
}
@media only screen and (max-width: 320px) {
  .tituloDePagina h1 {
    font-size: 1.1em;
  }

  .tituloDePagina h3 {
    font-size: 1;
  }
}
.footer {
  background-image: linear-gradient(90deg, #220410 40%, #973a5e);
  color: #ececec;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3em;
  padding: 10px;
}
.footer h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5;
  padding: 10px 0px 10px 0px;
}
.footer .miniBiografia {
  padding: 1em;
}
.footer .miniBiografia p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.footer .miniBiografia h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}
.footer .nuestrasOficinas {
  padding: 1em;
  overflow: hidden;
}
.footer .seguime {
  padding: 1em;
}
.footer .seguime img {
  padding-right: 20px;
  transition: ease-in 0.2s;
}
.footer .seguime img:hover {
  transform: scale(1.08);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.copyright {
  background-color: #ad607e;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
}
.copyright h3 {
  color: #ececec;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 10px;
}/*# sourceMappingURL=estilos.css.map */